body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: #40514E;
  background-color: #E1E8EB;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 3.625rem;
  color: #66BFBF;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.hello {
  width: 35%;
  margin: auto;
}
.top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}



.end {
  background-color: #66BFBF;
padding: 50px 0 20px;

}

.sun {
  position: absolute;
  left: 100px;
  top: 50px
}

hr {
  margin: 60px
}
.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.man {
  width: 12%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

p {
  line-height: 2;
  margin-top: 30px;
}

.dan {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.fam {
  width: 25%;
  float: right;
  margin-left: 30px;
}

img {
  margin-top: 50px;
}



.contact-me {
  width: 40%;
margin:  40px auto 40px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1689cc);
  background-image: -moz-linear-gradient(top, #11cdd4, #1689cc);
  background-image: -ms-linear-gradient(top, #11cdd4, #1689cc);
  background-image: -o-linear-gradient(top, #11cdd4, #1689cc);
  background-image: linear-gradient(to bottom, #11cdd4, #1689cc);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
